<h1>{{ title }}</h1>

<h2>Weather</h2>
<table>
  <thead>
    <th (click)="this.sortField = 'name'">City</th>
    <th (click)="this.sortField = 'temp'">Temp</th>
    <th (click)="this.sortField = 'feels_like'">Feels Like</th>
    <th (click)="this.sortField = 'temp_min'">Temp Min</th>
    <th (click)="this.sortField = 'temp_max'">Temp Max</th>
  </thead>
  <tbody>
    <tr *ngFor="let city of displayCities">
      <td>{{ city.name }}</td>
      <td>{{ city.temp | kelvin }}</td>
      <td>{{ city.feels_like | kelvin }}</td>
      <td>{{ city.temp_min | kelvin }}</td>
      <td>{{ city.temp_max | kelvin }}</td>
    </tr>
  </tbody>
</table>

<h2>Pagination</h2>
<select name="pagination" [(ngModel)]="paginationSize">
  <option *ngFor="let n of paginationOptions" [value]="n"
    >Show {{ n }} cities</option
  >
</select>
<ul *ngIf="availablePages.length > 1">
  <li *ngFor="let page of availablePages" (click)="currentPage = page">
    Page {{ page }}
  </li>
</ul>
